html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(type="text/javascript" src="/client.js")
        link(rel="icon" href="/images/favicon.png")
        link(rel="stylesheet", href="/CSS/ordersummary.css")
        title Order Summary

    body
        div#head
            a(href="/") Home
            a(href="/users") Users
            if (session.loggedin)
                a(href="/orderform") Order Form 
                a(href="/users/" + session.userId) Profile
                a(href="/logout") Logout
            else 
                a(href="/login") Login
                a(href="/register") Register
        
        h1 Order Summary 
        h3 Order Placed By: #{order.username}
        h3 Restaurant Ordered From: #{order.restaurantName}
        br
        h2 Items Ordered: 
        div#itemsOrdered
            each item in order.items 
                li #{item.name} (Quantity: #{item.quantity})
        br  
        h3 Subtotal: $#{order.subtotal.toFixed(2)}
        h3 Tax: $#{order.tax.toFixed(2)}
        h3 Delivery Fee: $#{order.fee.toFixed(2)}
        h3 Total: $#{order.total.toFixed(2)}